<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout(menu='findall.html')}">
<th:block layout:fragment="script">
    <script>
        $('document').ready(function(){
            $('#delbtn').on('click',function(){
                $('#frm').submit();
            });
        });
    </script>
</th:block>

<th:block layout:fragment="css">
    <style>
    </style>
</th:block>

<div layout:fragment="content">
    <hr>
    <div class="row">
        <form id="frm" th:action="@{/member/delete}" method="post">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Content</th>
                <th scope="col">wdate</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="board:${list}">
                    <td></td>
                    <td>[[${board.id}]]</td>
                    <td><a th:href="@{/board/view(boardid=${board.id})}">[[${board.title}]]</a></td>
                    <td>[[${board.content}]]</td>
                    <td>[[${board.wdate}]]</td>
                </tr>
            </tbody>
        </table>
        </form>
        <button id="delbtn" class="w-25 btn btn-outline-primary me-3">삭제</button>
        <a th:href="@{/board/insert}" class="w-25 btn btn-outline-primary">글쓰기</a>
    </div>
    <hr>
</div>
</html>
