<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Latest compiled and minified CSS -->
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript" th:src="@{/js/service/HuskyEZCreator.js}" charset="utf-8"></script>

    <th:block layout:fragment="css"></th:block>
</head>
<body>
    <div th:replace="fragment/head::head">
    </div>
    <div class="container">
        <div layout:fragment="content">
        </div>
    </div>
</body>
<th:block layout:fragment="script"></th:block>
</html>
