<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout(menu='test.html')}">
<th:block layout:fragment="script">
    <script>
        console.log("log");
    </script>
</th:block>
<th:block layout:fragment="css">
    <style>
        .mycontent{
            background-color: #eee;
        }
    </style>
</th:block>
<div layout:fragment="content">
    <div class="mycontent">
        test
    </div>
</div>
</html>