<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout(menu='findall.html')}">
<th:block layout:fragment="script">
    <script>
        $('document').ready(function(){
            $('#delbtn').on('click',function(){
                $('#frm').submit();
            });
        });
    </script>
</th:block>

<th:block layout:fragment="css">
    <style>
    </style>
</th:block>

<div layout:fragment="content">
    <h3>회원가입된 수 = [[${list.totalElements}]]</h3>
    <h3>페이지수 = [[${list.totalPages}]]</h3>
    <hr>
    <div class="row">
        <form id="frm" th:action="@{/member/delete}" method="post">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Email</th>
                <th scope="col">Gender</th>
                <th scope="col">Name</th>
                <th scope="col">Password</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="member : ${list}">
                    <td><input type="checkbox" name="id" th:value="${member.id}"></td>
                    <td th:text="${member.id}">1</td>
                    <!-- member/update?id=13&pass=123 -->
                    <td><a th:href="@{/member/update(id=${member.id})}" href="" th:text="${member.email}">Mark</a></td>
                    <td th:text="${member.gender}">Otto</td>
                    <td th:text="${member.name}">@mdo</td>
                    <td th:text="${member.password}">@mdo</td>
                </tr>
            </tbody>
        </table>
        </form>
        <button id="delbtn" class="w-25 btn btn-outline-primary me-3">삭제</button>
        <a th:href="@{/member/insert}" class="w-25 btn btn-outline-primary">회원가입</a>
    </div>
    <nav class="mt-3" aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item" th:classappend="${ (i-1) == list.pageable.pageNumber } ? 'active'" s th:each="i:${#numbers.sequence(1,list.totalPages)}">
                <a class="page-link" th:href="@{/member/findall(page=${i-1})}" th:text="${i}">123123</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
    <hr>
    <div th:each="i:${ #numbers.sequence(1,5) }">
        나오는거
    </div>
</div>
</html>
