<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout(menu='freeboard')}">

    <th:block layout:fragment="script">
        <script>
            var oEditors = [];
            nhn.husky.EZCreator.createInIFrame({
                oAppRef: oEditors,
                elPlaceHolder: "ir1",
                sSkinURI: "/smart",
                fCreator: "createSEditor2"
            });
            $("#savebutton").click(function(){
                oEditors.getById["ir1"].exec("UPDATE_CONTENTS_FIELD", []);
                $("#frm").submit();
            });
        </script>
    </th:block>

    <div layout:fragment="content">
        <form th:action="@{/freeboard/insert}" method="post" id="frm">
            <hr>
            <div class="mycontent">
                <h1>insert.html</h1>
                <div class="row my-3">
                    <div class="col-8">
                        <label>제목</label>
                        <input class="form-control" type="text" name="title"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <textarea name="content" id="ir1" rows="10" cols="80">textarea입니다.</textarea>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-4">
                        <label>작성자</label>
                        <input class="form-control" type="text" name="name"/>
                    </div>
                </div>
            </div>
            <hr>
            <div>
                <input type="button" class="btn btn-primary" th:value="저장" id="savebutton">
            </div>
        </form>
    </div>
</html>