<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout(menu='freeboard')}">

    <th:block layout:fragment="script">
        <script>
            var oEditors = [];
            nhn.husky.EZCreator.createInIFrame({
                oAppRef: oEditors,
                elPlaceHolder: "ir1",
                sSkinURI: "/smart",
                fCreator: "createSEditor2"
            });
        </script>
    </th:block>

    <div layout:fragment="content">
        <hr>
        <div class="mycontent">
            <h1>insert.html</h1>
            <textarea name="content" id="ir1" rows="10" cols="100">textarea입니다.</textarea>
        </div>
        <hr>
        <div>
            <a th:href="@{/freeboard/insert}" class="btn btn-primary">글쓰기</a>
        </div>
    </div>
</html>