<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout(menu='freeboard')}">

    <div layout:fragment="content">
        <hr>
        <div class="mycontent">
            <h1>select.html</h1>
            <table class="table">
                <tr>
                    <td>순서</td>
                    <td>제목</td>
                    <td>작성자</td>
                    <td>작성날짜</td>
                    <td>조회수</td>
                </tr>
                <tr th:each="row : ${list}">
<!--                    [[${row}]]-->
                    <td th:text="${row.id}"></td>
                    <td><a th:href="@{/freeboard/view(id=${row.id})}">[[${row.title}]]</a></td>
                    <td>[[${row.name}]]</td>
<!--                    ${#temporals.format(temporal)}-->
<!--                    <td th:text="${#dates.formatISO(mydate)}"></td>-->
                    <td th:text="${#temporals.format(row.wdate,'yy년MM월dd일 hh시mm분')}"></td>
                    <td>[[${row.count}]]</td>
                </tr>
            </table>
        </div>
        <hr>
        <div>
            <a th:href="@{/freeboard/insert}" class="btn btn-primary">글쓰기</a>
        </div>
    </div>
</html>
