<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout(menu='freeboard')}">

    <div layout:fragment="content">
        <hr>
        <div class="mycontent">
            <h1>select.html</h1>
            <button class="btn btn-primary">test</button>
        </div>
        <hr>
        <div>
            <a th:href="@{/freeboard/insert}" class="btn btn-primary">글쓰기</a>
        </div>
    </div>
</html>